/*NAVAR*/
$color-principal: #ea4748;
$tipografia-principal: 'Merriweather Sans', Arial, sans-serif;
$tamano-fuente-menu: 13px;

.nav-wrapper{
	font-family: $tipografia-principal;
	font-size: $tamano-fuente-menu;
	
}
